*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    background-image: url(assets/images/stage-background.jpeg);
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position:center;
}
.round-bg{
    height: 100vh;
    background-image: radial-gradient(transparent 30%, black 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.whoBtn{
    background-color: #191716;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border: 0px solid #191716;
    border-radius: 10px;
    transition: all .1s linear;
    white-space: nowrap;
    opacity: 1;
}
.whoBtn:hover{ 
    font-size: 40px;
    transition: all .1s linear;
    white-space: nowrap;
}
.btnContainer {
    background: #191716;
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    min-width: 191px;
    width: auto;
    height: auto;
    border-radius: 10px;
    transition: all .1s linear;
}
.hamburger {
    display: none;
    position: absolute;
    left: 0px;
    height: 56px;
    padding-left: 10px;
}
.hamburger div{
    width: 35px;
    height: 5px;
    background-color: #696969;
    margin: 6px 0;
    border-radius: 6px;
}
.hamburger div:first-child{
    margin-top: 13px;
}

.info-container{
    width: 100%;
    height: 100%
}
.containers{
    width: 100%;
    height: 300px;
    background: #191716;
}
.parallax{
    height: 100%;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax#pic1{
    background-image: url(./assets/images/parkway.jpg);
}
.parallax#pic2{
    background-image: url(./assets/images/drifting.jpg);
}