*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', monospace;
    max-width: 100%;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: y;
}
.whoBtn{
    background-color: #191716;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #d9b9a9;
    border: 0px solid #191716;
    border-radius: 10px;
    transition: all .1s linear;
    white-space: nowrap;
    opacity: 1;
    width: fit-content;
    
}
.whoBtn:hover{ 
    font-size: 40px;
    transition: all .1s linear;
    white-space: nowrap;
}
.btnContainer {
    background: #191716;
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    min-width: 191px;
    width: auto;
    height: auto;
    border-radius: 10px;
    transition: all .1s linear;
    z-index: 1;
}
.hamburger {
    display: none;
    position: absolute;
    left: 0px;
    height: 56px;
    padding-left: 10px;
    align-items: center;
}
.hamburger div{
    width: 35px;
    height: 5px;
    background-color: #8a8481;
    margin: 6px 0;
    border-radius: 6px;
}
.hamburger div:first-child{
    margin-top: 13px;
}

.info-container{
    width: 100%;
    height: 100%;
}
.containers{
    width: 100%;
    height: 0vh;
    background: rgba(25,23,22,0.8);
    color: rgb(51, 255, 0);
    scroll-snap-align: start;
}
.containers > *{
    display: none;
}
.parallax{
    height: 100%;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.parallax#pic1{
    background-image: url(./assets/images/parkway.jpg);
}
.parallax#pic2{
    background-image: url(./assets/images/drifting.jpg);
}
.me {
    height: 0px;
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    overflow:hidden;
    color: #8a8481
}
#welcome-text p{
    padding-bottom: 5px;
    letter-spacing: .15em;    
}
.typing-area{
    width: 100%;
    min-height: 20px;
    background: black;
    position: absolute;
    bottom: 0px;
}
.input-cursor {
    display: inline-block;
    width: 2px;
    background-color: white;
    animation: blink .5s linear infinite alternate;
}
#about-me{
    
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
