*{
    margin: 0px;
    font-family: 'roboto', sans-serif;
}
header{
    background-color: #ede5df;
    height: 80px;
    text-align: end;
}
.hero-img{
    width: 100%;
    height: 500px;
    background-image: url("greg-trowman-jsuWg7IXx1k-unsplash-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
}
h1{ 
    color: #232323;
    font-size: 60px;
    line-height: 80px;
}
h2{
    color: #ede5df;
    background-color: #232323;
    font-size: 30px;
    width: 95%;
    height: 40px;
    padding-left: 5px;
}
h4{
    background-color: #ede5df;
}
/*common attributes for section containers*/
.containers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0px;
}
/*specific attributes for about me secions title, font, and image*/
#about-me{    
    align-items: center;
}
#about-me p{
    font-size: 20px;
    width: 60%;
    line-height: 30px;
    background-color: #ede5df;
    margin: 5px;
    padding: 5px;

}
/*avatar size for desktop*/
#about-me img{
    width: 30%;
    margin-top: 5px;
}

/*page links*/
.page-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin: 50px;
}
/*holds bigger link to wepage*/
.main-page-container{
    display: flex;
    justify-content: flex-end;
    width: 65%;
    height: 100%;
    padding: 0px 15px;
}
a{
    text-decoration: none;
    color: #232323;
}
.main-page-container img{   
    height: 570px;
    width: auto;
}
/*hold smaller webpage links*/
.page-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: 100%;
}
.page-container img{
    height: 160px;
    width: 150px;
}
@media screen and (max-width: 1000px){
    
    /*about me section when on screen/phone*/
    #about-me{
        flex-direction: column;
    }
    #about-me p{
        margin-top: 20px;
        width:80%
    }
    #about-me img{
        width: 80%;
        margin-bottom: 20px;
    }
    /*webpage links on screen*/
    .page-links{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    /*main webpage link*/
    .main-page-container{
        width: 90%;
        height: auto;
        justify-content: center;
        text-align: center;
    }
    .main-page-container img{
        width: 100%;
        height: auto;
    }
    /*Smaller page link on screen*/
    .page-container{
        flex-direction: row;
        width: 90%;
    
    }
    .page-container img{
        margin-top: 30px;
    }
}
@media screen and (max-width: 600px){
    .page-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .page-container img{
        width: 100%;
        
    }
}