*{
    margin: 0px;
    font-family: 'roboto', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #ede5df;
    height: 80px;
    justify-content: space-between;
    overflow: hidden;
}
/*page navigation container and links*/
.nav-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
/*gives nav links a border*/
.page-section{
    margin: 0px 10px;
    padding: 3px;
    border-top: 3px #232323 solid;
    border-left: 3px #232323 solid;
    border-right: 3px #232323 solid;
}
.hero-img{
    width: 100%;
    height: 400px;
    background-image: url("./assets/greg-trowman-jsuWg7IXx1k-unsplash-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
    overflow: hidden;
}
h1{ 
    color: #232323;
    font-size: 60px;
    line-height: 80px;
}
h2{
    color: #ede5df;
    background-color: #232323;
    font-size: 30px;
    width: 95%;
    height: 40px;
    padding-left: 5px;
}
h3{
    font-size: 20px;
}
h4{
    background-color: #ede5df;
}
/*common attributes for section containers*/
.containers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0px;
}
/*specific attributes for about me secions title, font, and image*/
#about-me{    
    align-items: center;
}
#about-me p{
    font-size: 20px;
    width: 60%;
    line-height: 30px;
    background-color: #ede5df;
    margin: 5px;
    padding: 5px;

}
/*avatar size for desktop*/
#about-me img{
    width: 30%;
    height: 80%;
    margin: 15px 0px;
}

/*page links*/
.page-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin: 50px;
    overflow: hidden;
}
/*holds bigger link to wepage*/
.main-page-container{
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 65%;
    height: 100%;
    padding: 0px 15px;
}
.page-title{
    position: absolute;
    bottom: 50%;
    width: 75px;
    border-top: 3px #232323 solid;
    border-right: 3px #232323 solid;
    border-bottom: 3px #232323 solid;
}
a{
    text-decoration: none;
    color: #232323;
}
/*is behind page image to create an overlay effect that changes on hover*/
.link-container{
    width: 100%;
    height: 100%;
    background: black;
}
.main-page-container img{   
    height: 600px;
    width: auto;
    /*allows black background to show through to look darker*/
    opacity: 0.7;
}
.main-page-container img:hover{  
    opacity: 1;
}
/*hold smaller webpage links*/
.page-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 100%;
}
.title-position{
    display: flex;
    position: relative;
    background: black;
    
}
.page-container a{
    width: 150px;
}
.page-container img{
    height: 160px;
    width: 150px;
    opacity: 0.7;
}
.page-container img:hover{
    opacity: 1;
}

/*contact links*/
 #contact-me{
     font-size: 20px;
 }
 ul{
    background-color: #ede5df;
    margin-top: 20px;
}
 li{
     list-style-type: none;
     margin-top: 5px;
 }
 footer{
     text-align: center;
     color:  #ede5df;
     background-color: #232323;
 }
 
@media screen and (max-width: 1000px){
    .hero-img{
        height: 250px;
    }
    /*about me section when on screen/phone*/
    #about-me{
        flex-direction: column;
    }
    #about-me p{
        margin-top: 20px;
        width:80%
    }
    #about-me img{
        width: 50%;
        margin-bottom: 20px;
    }
    /*webpage links on screen*/
    .page-links{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    /*main webpage link*/
    .main-page-container{
        width: 90%;
        height: auto;
        justify-content: center;
        text-align: center;
    }
    .main-page-container img{
        width: 100%;
        height: 100%;
    }
    /*Smaller page link on screen*/
    .page-container{
        flex-direction: row;
        width: 90%;
    
    }
    .title-position{
        margin-top: 30px;
    }
}
@media screen and (max-width:800px){
    header{
        flex-direction: column;
        align-items: center;
        height: inherit;
    }
    .nav-container{
        order:2;
    }
}
@media screen and (max-width: 600px){
    /*Align smaller webpage links for smaller screens*/
    .page-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .page-container img{
        width: 100%;
        
    }
}