

@media screen and (max-width: 600px) {
    .hamburger-container {
        display: flex;
        position: absolute;
        right: 2.5vh
    }
    
    .hamburger {
        position: relative;
    }
    
    .hamburger div {
        width: 20px;
        height: 2.5px;
        background-color: white;
        border-radius: white 2px solid;
        margin: 2px 0;
    }
    
    .hamburger div:first-child {
        width: 30px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .hamburger div:last-child {
        width: 22px;
        position: absolute;
        right: 0;
        top: 0;
    }
}