*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', monospace;
    max-width: 100%;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: y;
}
.whoBtn{
    background-color: #191716;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #d9b9a9;
    border: 0px solid #191716;
    border-radius: 10px;
    transition: all .1s linear;
    white-space: nowrap;
    opacity: 1;
    width: min-content;
    
}
.whoBtn:hover{ 
    font-size: 40px;
    transition: all .1s linear;
    white-space: nowrap;
}
.btnContainer {
    background: #191716;
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    min-width: 191px;
    width: auto;
    height: auto;
    border-radius: 10px;
    transition: all .1s linear;
    z-index: 1;
}
.hamburger {
    display: none;
    position: absolute;
    left: 0px;
    height: 56px;
    padding-left: 10px;
    align-items: center;
}
.hamburger div{
    width: 35px;
    height: 5px;
    background-color: #8a8481;
    margin: 6px 0;
    border-radius: 6px;
}
.hamburger div:first-child{
    margin-top: 13px;
}
.navigation{
    display: none;
    position: absolute;
    left: 0;
    top: 56px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
.navigation ul{
    list-style-type: none;
}
.navigation ul li{
    padding: 3px;
}
.navigation ul li a{
    color: white;
    text-decoration: none;
}
.info-container{
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
}
.containers{
    width: 100%;
    max-height: max-content;
    background: rgba(25,23,22,0.8);
    color: rgb(51, 255, 0);
    flex-direction: column;
    justify-content: flex-end;
}
.containers p{
    padding-bottom: 5px;
    letter-spacing: .15em;    
}
.containers p:first-child{
    padding-top: 5px;    
}

.containers > *{
    display: none;
}
.parallax{
    height: 100%;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    pointer-events: none;
    flex-direction: column;
    justify-content: flex-end;
}
.parallax#pic1{
    background-image: url(./images/parkway.jpg);
}
.parallax#pic2{
    background-image: url(./images/drifting.jpg);
    background-position: left;
}
.parallax#pic3{
    background-image: url(./images/shelves.jpg);
    background-position: center;
}
.parallax#pic4{
    background-image: url(./images/parkway.jpg);
    justify-content: center;
}
.me {
    height: 0px;
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    overflow:hidden;
    color: #8a8481;
}
.typing-area{
    width: 100%;
    min-height: 20px;
    background: black;
    bottom: 0px;
}
.input-cursor {
    display: inline-block;
    width: 2px;
    background-color: white;
    animation: blink .5s linear infinite alternate;
}
.bootcamp{
    display: none;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
}
.bootcamp-container{
    width: 50vh;
    padding: 35px;
    margin-bottom: 15%;
    background: rgba(25,23,22,0.8);
    border-radius: 15px;
}
.bootcamp a{
    width: 100%;
    height: 100%;
}
.work-container{
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.my-work:first-child{
    background: #8a8481;
    font-weight: bold;
}
.my-work:nth-child(2){
    width: 250px;
    height: 250px;
}
.my-work:last-child{
    background: #0284C9;
    color: white;
    font-weight: bold;
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Source+Code+Pro:wght@300&family=Ubuntu:wght@400;700&display=swap');
.mood{
    color: rgb(100,165,161);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family:'Ubuntu', sans-serif; 
}
.mood span{
    color:#3c3f58;
    font-family:'Ubuntu', sans-serif; 
    font-weight: bold;
}
.my-work{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: 20vh;
    background: #191716;
    border-radius: 50%;
}
.contact-container {
    width: 45vh;
    height: min-content;
    padding: 25px;
    background: rgba(255,255,255, 0.5);
    border-radius: 10px;
    pointer-events: all;
}
.contact-container ul{
    list-style-type: none;
}
.linkedin, .github{
    text-decoration: none;
    color: black;
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
@media only screen and (max-height: 730px){
    .bootcamp{
        height: 42%;
    }
}
@media only screen and (max-width: 550px){
    #about-me{
        min-height: min-content;
    }
    .bootcamp-container{
        margin-bottom: 0px;
    }
    .work-container{
        flex-direction: column;
        height: max-content;
        padding: 5px 0px;
    }
    .my-work{
        margin: 3px 0;
    }
    .my-work:nth-child(2){
        height: 30vh;
        width: 30vh;
        order: 1;
    }
    .mood{
        font-size: 200%;
    }
}
