.about-container{
    display: flex;
    width: 100%;
    height: min-content;
    flex-direction: column;
    border-bottom: 1px rgb(189, 189, 189) solid;
}

.quote {
    width: 15em;
    text-align: right;
    align-self: flex-end;
    padding: 0 30px;
    font-size: 2em;
    opacity: 70%;
}

.quote p {
    font-size: 0.5em;
}

.about-me h1{
    font-size: 2.5em;
}